@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.bg-primary-light-blue {
  background-color: #00a9e2;
}

.bg-primary-blue {
  background-color: #0090d1;
}
